* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#logo {
  width: 20rem;
  position: fixed;
  top: 0;
}

#dragon {
  width: 15rem;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

.icons-container {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  width: 15rem;
  top: 6rem;
  right: 2rem;
}

#spotify, #facebook {
  width: 2rem;
}

.section-title {
  text-align: center;
  margin: 2rem 0;
  font-size: 2rem;
}

.content {
  width: 38rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: 6rem auto;
  text-align: justify;
  line-height: 2rem;
}
